.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 120px;
}

.profilBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profilInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 5px;
}

.profilInputs input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.profilInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.profilLabel{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
